* {
  margin: 0px;
  padding: 0px;
}
body {
  background: url(https://static-cse.canva.com/blob/558736/40booksunlockcreativitystartlifesbestwork.jpg) center / cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: rgb(255, 255, 255);
  background: #643621ec;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: rgba(255, 255, 255, 0.725);
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: rgb(254, 252, 252);
  background: #6f2f0cc9;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}